services:
    server:
        build: ./api
        container_name: api
        # environment:
        #     NODE_ENV: production
        env_file: .env
        # restart: always
        ports:
            - '8080:8080'
        volumes:
            - ./api:/app
            - /app/node_modules
        depends_on:
            - db
        networks:
            - internal
    db:
        image: postgres:16
        container_name: database
        # restart: always
        env_file: .env
        volumes:
            - ./db/schemas:/docker-entrypoint-initdb.d
            - db-data:/var/lib/postgresql/data
        healthcheck:
            test: ['CMD', 'pg_isready']
            interval: 10s
            timeout: 5s
            retries: 5
        networks:
            - internal

    nginx:
        image: nginx:latest
        container_name: nginx_proxy
        ports:
            - '80:80'
            - '443:443'
        volumes:
            - ./nginx:/etc/nginx/conf.d
        depends_on:
            - server
        networks:
            - internal

volumes:
    db-data:

networks:
    internal:
        driver: bridge
